<%- include('../layouts/head.ejs')%>
<%- include('../layouts/header.ejs')%>
<%- include('../layouts/side.ejs')%>
<div class="block-header">
     <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
               <h2>تعديل <%= title %>
               <small>تعديل المدن</small>
               </h2>
          </div>            
     </div>
</div>
<edit-payment payment="<%=payment%>"></edit-payment>


<%- include('../layouts/footer.ejs') %>
